<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdfnfsadji</title>
    <link href="../static/css/ayo.css" rel="stylesheet" >
</head>
    <header>
        <img src="../static/img/hola de nuevo.png" height="150" width="150">
    
    </header>
<body>
        <div class="hijodeputa">
            <a href="./iniciosesion.html">
                <h1 class="mierda">
                    Inicio de sesión
                </h1>
            </a>

            <a href="./reseñas.html">
                <h1 class="mierda">
                    Ver Reseña
                </h1>
            </a>

            <a href="./usuarios.html">
                <h1 class="mierda">
                    Ver Usuario
                </h1>
            </a>
        </div>
        
</body>


    

</html>