<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/ayo.css') }}">
</head>
    <header>
        <img src="../static/img/hola de nuevo.png" height="150" width="150">
    
    </header>
<body>
        <div class="hijodeputa">
            <a href="./mis_reseñas.html">
                <h1 class="mierda">
                    Mis Reseñas
                </h1>
            </a>

            <a href="./reseñas.html">
                <h1 class="mierda">
                    Ver Reseña
                </h1>
            </a>

            <a href="./usuarios.html">
                <h1 class="mierda">
                    Ver Usuario
                </h1>
            </a>
        </div>
        
</body>


    

</html>