<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdfnfsadji</title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/ayo.css') }}">
</head>
    <header>
        <img src="../static/img/hola de nuevo.png" height="150" width="150">
    
    </header>
<body>
        <div class="hijodeputa">
            <h1 class="mierda">
                Inicio de sesión
            </h1>
            <h1 class="mierda">
                Ver reseña
            </h1>
            <h1 class="mierda">
                Ver usuarios
            </h1>
        </div>
        
</body>


    

</html>