<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdfnfsadji</title>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/ayo.css') }}">
</head>

<body>
    <a href="./index.html"><img src="../static/img/volver.png" height="40" width="40" class="imglol"></a>
    <div class="main">
        <div class="headerlol">
            <input type="text" class="textBOX">
            <div class="ordenlol">
                <table>
                    <thead>  <!-- Opcional: agrega encabezados para claridad -->
                        <tr>
                            <th>Película</th>
                            <th>Comentario</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for titulo, comentario, calificación in reseñas_data %}
                        <tr>
                            <td>{{ titulo }}</td>
                            <td>{{ comentario }}</td>
                            <td>{{ calificación }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


    

</html>