<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdfnfsadji</title>
    <link href="../static/css/ayo.css" rel="stylesheet" >
</head>

<body>
    <div class="main">
        <div class="headerlol">
            <input type="text" class="textBOX">
            <div class="ordenlol">
                <h1 class="ilovefemboys">
                   LOL
                </h1>
                <h1 class="ilovefemboys">
                   LOL
                </h1>
                
            </div>
        </div>
    </div>
</body>


    

</html>